<section class="orders light-section">
    <div class="container mx-auto pt-12">
        <h1 class="mb-4 font-bold text-lg">All Orders</h1>
        <table class="w-full table-auto bg-white">
            <thead>
                <tr>
                    <th class="text-left py-2 px-4">Orders</th>
                    <th class="text-left py-2 px-4">Customers</th>
                    <th class="text-left py-2 px-4">Address</th>
                    <th class="text-left py-2 px-4">Status</th>
                    <th class="text-left py-2 px-4">Placed At</th>
                </tr>
            </thead>
            <tbody id="orderTableBody">
                
            </tbody>
        </table>
    </div>
</section>